/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*neat imports*/
@import 'bourbon';
@import 'neat';

/*NEAT Settings*/
$max-width: 700;
$grid-columns: 12;
$column: 51px;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid: true;

/* fonts and colors */
@font-face {
    font-family: 'gothicRegular';
    src: url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot');
    src: url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff2') format('woff2'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff') format('woff'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.svg#alternate_gothic_no2_dregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamBold';
    src: url('fonts/gotham_bold-webfont.eot');
    src: url('fonts/gotham_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham_bold-webfont.woff2') format('woff2'),
         url('fonts/gotham_bold-webfont.woff') format('woff'),
         url('fonts/gotham_bold-webfont.ttf') format('truetype'),
         url('fonts/gotham_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'openSansRegular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gothicRegular: normal normal 400 14px/17px 'gothicRegular',helvetica, arial, sans-serif;
$gothamBold: normal normal 700 14px/17px 'gothamBold',helvetica, arial, sans-serif;
$openSansReg: normal normal 400 14px/17px 'openSansRegular',helvetica, arial, sans-serif;

$searsOrange: #ff6600;
$searsBlueMain: #152850;
$confirmGreen: #34b06c;
$confirmRed: #e43939;


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #fff;
    font: $openSansReg;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {

}
.wrap {
    @include outer-container;
}

h1,p{
    color: #ffffff;
}
h1{
    font-size: 24px;
}
img{
    width: 100%;
    vertical-align: middle;
}
header {
    @include position(fixed,0 null null 0);
    background: #4684bf;
    height: 40px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    z-index: 10;
    .menu {
        @include position(absolute, 10px null null 10px);
        //background: transparent url("../img/menuTrigger.png") no-repeat 0 0;
        display: block;
        height: 21px;
        text-indent: -999999px;
        width: 30px;
        -webkit-backface-visibility: hidden;
    }
    .smallPoints {
        @include position(absolute, 10px 10px null null);
        @include span-columns(6);
        color: white;
        text-align: right;
    }
    .dealIcon {
        background: transparent url("../img/menuIcons.png") no-repeat 0 -1202px;
        display: block;
        float: right;
        height: 20px;
        width: 25px;
    }
}
/** BUTTONS **/
button {
    position: relative;
    display: block;
    @include span-columns(6 of 12);
    border: none;
    outline: none;
    font-family: $openSansReg;
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $searsOrange;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 2px;
    z-index: 11;

    &.hide{
        @include transition(color, 200ms ease-out);
        @include transition-delay(0.5s);
        opacity: 0;
    }
}
.ripple {
  position: absolute;
  background: rgba(0,0,0,.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none;
}

.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out;
}
@-webkit-keyframes ripple {
    to {
     -webkit-transform: scale(1);
     transform: scale(1);
     opacity: 0;
    }
}
@keyframes ripple {
    to {
     -webkit-transform: scale(1);
     transform: scale(1);
     opacity: 0;
    }
}
/** Button Click Transitions **/
.expand-circle{
    @include transition(all 1s ease-out);
    position: absolute;
    width: 0;
    height: 0;
    background: $searsOrange;
    color: rgba(0, 0, 0, 0.87);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    z-index:10;

    &.fullScreen{
        -webkit-animation: expandFullScreen 400ms ease-in;
        -webkit-animation-timing-function:linear;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        visibility: visible;

        &.reverse{
            -webkit-animation: fullscreenGone 400ms ease-out;
            -webkit-animation-timing-function:linear;
            -webkit-animation-iteration-count: 1;
            -webkit-animation-fill-mode: forwards;
        }
    }
}
@-webkit-keyframes expandFullScreen{


    100% {
        width: 300%;
        height: 175%;
        border-radius: 50%;
        top: -32.5%;
        left: -75%;
        opacity: 1;
    }
}
@-webkit-keyframes fullscreenGone{
    0%{
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
nav,
section,
#cover{
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
nav {
    background: #142856 url('../img/menuBackW.jpg') no-repeat 0 0;
    background-size: cover;
    color: $searsBlueMain;
    font-family: $openSansReg;
    padding-top: 40px;
    z-index: 1;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
#profileTrigger {
    @include span-columns(7);
    @include shift(.5);
    margin-bottom: 65px;
    .profileimg {
        @include span-columns(2 of 7);
        background: #233864;
        border-radius: 360px;
        padding: 3px;
    }
    img {
        border-radius: 360px;
    }
    .name {
        @include span-columns(5 of 7);
        color: $searsBlueMain;
        text-transform: uppercase;
    }
}
#menu {
    @include span-columns(7);
    @include shift(.5);
    clear: both;
    font-size: 20px;
    line-height: 28px;
    li {
        background: transparent url("../img/menuIcons.png") no-repeat 0 0;
        margin-bottom: 5px;
        padding: 5px 0 5px 45px;
        &:last-child {
            margin: 0;
        }
    }
    #home {
        background-position: 0 7px;
        &.current {
            background-position: 0 -601px;
        }
    }
    #points {
        background-position: 0 -91px;
        &.current {
            background-position: 0 -701px;
        }
    }
    #deals {
        background-position: 0 -187px;
        &.current {
            background-position: 0 -795px;
        }
    }
    #notify {
        background-position: 0 -287px;
        &.current {
            background-position: 0 -894px;
        }
    }
    .current {
        border-bottom: 1px #7d7d7d solid;
        border-top: 1px #7d7d7d solid;
        color: #7d7d7d;
    }
    .counter {
        background: $searsOrange;
        border-radius: 180px;
        color: white;
        display: inline-block;
        height: 14px;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        width: 14px;
    }
}
#prefStore {
    @include span-columns(7);
    @include shift(.5);
    clear: both;
    .title {
        color: $searsBlueMain;
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
        span {
            float: right;
            font-size: 10px;
        }
    }
    ul {
        margin-left: 10px;
        padding-left: 20px;
    }
}
#address,
#phone {
    background: transparent url("../img/menuIcons.png") no-repeat -5px -393px;
}
#address {
    margin-bottom: 20px;
}
#phone {
    background-position: -6px -492px;
    padding: 2px 0;
}
section {
    box-shadow: 0 0 15px black;
    display: block;
    z-index: 2;
    -webkit-transition: all 500ms ease;
}
.user-info{

    img{
        @include span-columns(5 of 12);
        @include shift(3.5);
        margin-bottom: 10px;
    }
    p{
        clear: both;
        text-align: center;
        margin: 0 0 20px 0;
        font-family: $openSansReg;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &.point-value{
            font-size: 50px;
            margin-bottom: 5px;
        }
        &.name{
            font-size: 30px;
        }

    }
}
.panel{
    border-bottom: 4px solid $searsOrange;
    position: relative;
    margin-bottom: 10px;
    p{
        position: absolute;
        top: 40%;
        text-align: center;
        width: 100%;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
    }

}
.lowerScreen {
    -webkit-transform: scale(.6) translateX(80%);
}
#cover {
    z-index: 100;
}

/* articles */
article {
    @include position(absolute, 0 0 0px 0px);
    background: #152850 url('../img/contentBack.png') no-repeat 0 0;
    background-size: cover;
    width: 100%;
    overflow-x: scroll;
    padding-top: 60px;
    padding-top: 40px;
    position: relative;
    z-index: 3;
    &.current {
        z-index: 4;
    }
    &.off {
        @include position(absolute, null null 0 0);
        display: none;
    }
}
    .tabs {
        background: white;
        height: 40px;
        list-style-type: none;
        margin: 0;
        padding: 0 10px;
        width: 100%;
        li {
            border-bottom: transparent 2px solid;
            float: left;
            height: 40px;
            line-height: 38px;
            text-align: center;
            width: (100%/3);
            &.active {
                border-color: $searsOrange;
            }
        }
    }
}
.article-header {
    margin-bottom: 10px;
    position: relative;
    img {
        height: auto;
        width: 100%;
    }
}
.dealList {
    .dealPreview {
        background: $confirmGreen;
        float: left;
        margin: 10px 2% 0 2%;
        position: relative;
        width: 96%;
        .imgHold {
            @include span-columns(3);
        }
        img {
            height: auto;
            width: 100%;
        }
        .dealShort {
            @include span-columns(6);
            color: $searsBlueMain;
        }
        .dealPrice,
        .confirmText{
            @include span-columns(3);
            color: $searsBlueMain;
            font: $gothamBold;
            line-height: 70px;
            margin: 0;
            text-align: right;
        }
        .confirmText {
            color: white;
        }
        .dealCover {
            @include position(absolute,0 0 null null);
            background: #e2f4fc;
            border-bottom: $searsOrange 2px solid;
        }
        .dealConfirm {
            border-bottom: $confirmGreen 2px solid;
        }
        .dealCover,
        .dealConfirm {
            float: left;
            padding: 10px;
            width: 100%;
        }
        &.dealDelete {
            background: $confirmRed;
            .dealConfirm {
                border-bottom: $confirmRed 2px solid;
            }
        }
    }
}

/* pop up */
#popup {
    @include position(absolute,0 null null 100%);
    background: #dcdcdc;
    width: 100%;
    overflow-x: scroll;
    padding-top: 40px;
    z-index: 50;
    -webkit-transition: all 300ms ease;
    height: 250px;
    header {
        left: 100%;
        -webkit-transition: all 300ms ease;
    }
    &.show {
        left: 0%;
        header {
            left: 0%;
        }
    }
}
