/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*neat imports*/
@import 'bourbon';
@import 'neat';

/*NEAT Settings*/
$max-width: 700;
$grid-columns: 12;
$column: 51px;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid: true;

/* fonts and colors */
@font-face {
    font-family: 'gothicRegular';
    src: url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot');
    src: url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff2') format('woff2'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff') format('woff'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.ttf') format('truetype'),
         url('fonts/ufonts.com_alternate_gothic_no2_d-webfont.svg#alternate_gothic_no2_dregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gothamBold';
    src: url('fonts/gotham_bold-webfont.eot');
    src: url('fonts/gotham_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/gotham_bold-webfont.woff2') format('woff2'),
         url('fonts/gotham_bold-webfont.woff') format('woff'),
         url('fonts/gotham_bold-webfont.ttf') format('truetype'),
         url('fonts/gotham_bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'openSansRegular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gothicRegular: normal normal 400 14px/17px 'gothicRegular',helvetica, arial, sans-serif;
$gothamBold: normal normal 700 14px/17px 'gothamBold',helvetica, arial, sans-serif;
$openSansReg: normal normal 400 14px/17px 'openSansRegular',helvetica, arial, sans-serif;

$searsOrange: #ff6600;
$searsBlueMain: #152850;


* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #fff;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {

}
.wrap {
    @include outer-container;
}

h1,p{
    color: #ffffff;
}
h1{
    font-size: 24px;
}
img{
    width: 100%;
    vertical-align: middle;
}
.header {
    height: 40px;
    width: 100%;
    -webkit-backface-visibility: hidden;
    .menu {
        background: transparent url("../img/menuTrigger.png") no-repeat 0 0;
        display: block;
        height: 21px;
        text-indent: -999999px;
        width: 30px;
        -webkit-backface-visibility: hidden;
    }
}
.button-main{
    @include span-columns(6 of 12);
    background: $searsOrange;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-family: $openSansReg;
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;

}
nav,
section,
#cover{
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
nav {
    background: #142856 url('../img/menuBackW.jpg') no-repeat 0 0;
    background-size: cover;
    color: $searsBlueMain;
    font-family: $openSansReg;
    padding-top: 40px;
    z-index: 1;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
#profileTrigger {
    @include span-columns(7);
    @include shift(.5);
    margin-bottom: 80px;
    .profileimg {
        @include span-columns(2 of 7);
        background: #233864;
        border-radius: 360px;
        padding: 5px;
    }
    img {
        border-radius: 360px;
    }
    .name {
        @include span-columns(5 of 7);
        text-transform: uppercase;
    }
}
#menu {
    @include span-columns(7);
    @include shift(.5);
    clear: both;
    font-size: 20px;
    line-height: 28px;
    li {
        background: transparent url("../img/menuIcons.png") no-repeat 0 0;
        padding: 15px 0 15px 45px;
    }
    #home {
        background-position: 0 17px;
    }
    #points {
        background-position: 0 -53px;
    }
    #coupons {
        background-position: 0 -125px;
    }
    #notify {
        background-position: 0 -197px;
    }
    .current {
        border-bottom: 1px $searsOrange solid;
        border-top: 1px $searsOrange solid;
        color: $searsOrange;
    }
}
#prefStore {
    @include span-columns(7);
    @include shift(.5);
    clear: both;
    .title {
        font-size: 20px;
        line-height: 28px;
        text-transform: uppercase;
    }
    ul {
        margin-left: 10px;
        padding-left: 20px;
    }
}
#address,
#phone {
    background: transparent url("../img/menuIcons.png") no-repeat -6px -567px;
}
#address {
    margin-bottom: 20px;
}
#phone {
    background-position: -6px -647px;
}
section {
    background: blue;
    display: block;
    z-index: 2;

    -webkit-transition: all 500ms ease;
}
article {
    background: #152850 url('../img/contentBack.png') no-repeat 0 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: scroll;
}
.user-info{

    img{
        @include span-columns(5 of 12);
        @include shift(3.5);
        margin-bottom: 10px;
    }
    p{
        clear: both;
        text-align: center;
        margin: 0 0 20px 0;
        font-family: $openSansReg;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        &.point-value{
            font-size: 50px;
            margin-bottom: 5px;
        }
        &.name{
            font-size: 30px;
        }

    }
}
.panel{
    border-bottom: 4px solid $searsOrange;
    position: relative;
    margin-bottom: 10px;
    p{
        position: absolute;
        top: 40%;
        text-align: center;
        width: 100%;
        margin: 0;
        font-size: 16px;
        text-transform: uppercase;
    }

}
.lowerScreen {
    -webkit-transform: scale(.6) translateX(80%);
    box-shadow: 0 0 15px black;
}
#cover {
    z-index: 3;
}