/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*neat imports*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*NEAT Settings*/
/* fonts and colors */
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background: #fff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

/* Portrait layout (default) */
.wrap {
  *zoom: 1;
  max-width: 700;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after {
    content: " ";
    display: table; }
  .wrap:after {
    clear: both; }

h1, p {
  color: #ffffff; }

h1 {
  font-size: 24px; }

img {
  width: 100%;
  vertical-align: middle; }

.button-main {
  background: #ff6600;
  border: none;
  padding: 15px 20px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 60px;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .button-main:last-child {
    margin-right: 0; }

nav,
section,
#cover {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%; }

nav {
  background: #142856 url("../img/menuBack.jpg") no-repeat 0 0;
  background-size: cover;
  z-index: 1; }

section {
  background: blue;
  z-index: 2;
  -webkit-transition: all 500ms ease; }

article {
  background: #152850 url("../img/contentBack.png") no-repeat 0 0;
  background-size: cover;
  height: 100%;
  width: 100%; }

.user-info img {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 29.85432%; }
  .user-info img:last-child {
    margin-right: 0; }
.user-info p, .user-info h1 {
  clear: both;
  text-align: center;
  margin: 0; }
  .user-info p.point-value, .user-info h1.point-value {
    font-size: 28px; }

.panel {
  border-bottom: 4px solid #ff6600;
  position: relative;
  margin-bottom: 10px; }
  .panel p {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    margin: 0; }

.lowerScreen {
  -webkit-transform: scale(0.6) translateX(60%); }

#cover {
  z-index: 3; }
