/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*neat imports*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*NEAT Settings*/
/* fonts and colors */
@font-face {
  font-family: 'gothicRegular';
  src: url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot");
  src: url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff2") format("woff2"), url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.woff") format("woff"), url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.ttf") format("truetype"), url("fonts/ufonts.com_alternate_gothic_no2_d-webfont.svg#alternate_gothic_no2_dregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gothamBold';
  src: url("fonts/gotham_bold-webfont.eot");
  src: url("fonts/gotham_bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/gotham_bold-webfont.woff2") format("woff2"), url("fonts/gotham_bold-webfont.woff") format("woff"), url("fonts/gotham_bold-webfont.ttf") format("truetype"), url("fonts/gotham_bold-webfont.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'openSansRegular';
  src: url("opensans-regular-webfont.eot");
  src: url("opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("opensans-regular-webfont.woff2") format("woff2"), url("opensans-regular-webfont.woff") format("woff"), url("opensans-regular-webfont.ttf") format("truetype"), url("opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */ }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background: #fff;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

/* Portrait layout (default) */
.wrap {
  *zoom: 1;
  max-width: 700;
  margin-left: auto;
  margin-right: auto; }
  .wrap:before, .wrap:after {
    content: " ";
    display: table; }
  .wrap:after {
    clear: both; }

h1, p {
  color: #ffffff; }

h1 {
  font-size: 24px; }

img {
  width: 100%;
  vertical-align: middle; }

header {
  background: #4684bf;
  height: 40px;
  position: relative;
  width: 100%;
  -webkit-backface-visibility: hidden;
  z-index: 10; }
  header .menu {
    background: transparent url("../img/menuTrigger.png") no-repeat 0 0;
    display: block;
    height: 21px;
    text-indent: -999999px;
    width: 30px;
    -webkit-backface-visibility: hidden; }

/** BUTTONS **/
button {
  position: relative;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  border: none;
  outline: none;
  font-family: normal normal 400 14px/17px "openSansRegular", helvetica, arial, sans-serif;
  font-size: 16px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ff6600;
  padding: 15px;
  color: #ffffff;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2px;
  z-index: 11; }
  button:last-child {
    margin-right: 0; }
  button.hide {
    -webkit-transition: color, 200ms ease-out;
    -moz-transition: color, 200ms ease-out;
    transition: color, 200ms ease-out;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    transition-delay: 0.5s;
    opacity: 0; }

.ripple {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  pointer-events: none; }

.ripple.show {
  -webkit-animation: ripple .5s ease-out;
  animation: ripple .5s ease-out; }

@-webkit-keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

@keyframes ripple {
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/** Button Click Transitions **/
.expand-circle {
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  position: absolute;
  width: 0;
  height: 0;
  background: #ff6600;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  z-index: 10; }
  .expand-circle.fullScreen {
    -webkit-animation: expandFullScreen 400ms ease-in;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    visibility: visible; }
    .expand-circle.fullScreen.reverse {
      -webkit-animation: fullscreenGone 400ms ease-out;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes expandFullScreen {
  100% {
    width: 300%;
    height: 175%;
    border-radius: 50%;
    top: -32.5%;
    left: -75%;
    opacity: 1; } }

@-webkit-keyframes fullscreenGone {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

nav,
section,
#cover {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%; }

nav {
  background: #142856 url("../img/menuBackW.jpg") no-repeat 0 0;
  background-size: cover;
  color: #152850;
  font-family: normal normal 400 14px/17px "openSansRegular", helvetica, arial, sans-serif;
  padding-top: 40px;
  z-index: 1; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

#profileTrigger {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 4.2649%;
  margin-bottom: 80px; }
  #profileTrigger:last-child {
    margin-right: 0; }
  #profileTrigger .profileimg {
    display: block;
    float: left;
    margin-right: 4.11092%;
    width: 25.63506%;
    background: #233864;
    border-radius: 360px;
    padding: 5px; }
    #profileTrigger .profileimg:last-child {
      margin-right: 0; }
  #profileTrigger img {
    border-radius: 360px; }
  #profileTrigger .name {
    display: block;
    float: left;
    margin-right: 4.11092%;
    width: 70.25402%;
    text-transform: uppercase; }
    #profileTrigger .name:last-child {
      margin-right: 0; }

#menu {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 4.2649%;
  clear: both;
  font-size: 20px;
  line-height: 28px; }
  #menu:last-child {
    margin-right: 0; }
  #menu li {
    background: transparent url("../img/menuIcons.png") no-repeat 0 0;
    padding: 15px 0 15px 45px; }
  #menu #home {
    background-position: 0 17px; }
  #menu #points {
    background-position: 0 -53px; }
  #menu #coupons {
    background-position: 0 -125px; }
  #menu #notify {
    background-position: 0 -197px; }
  #menu .current {
    border-bottom: 1px #ff6600 solid;
    border-top: 1px #ff6600 solid;
    color: #ff6600; }

#prefStore {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 57.35098%;
  margin-left: 4.2649%;
  clear: both; }
  #prefStore:last-child {
    margin-right: 0; }
  #prefStore .title {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase; }
  #prefStore ul {
    margin-left: 10px;
    padding-left: 20px; }

#address,
#phone {
  background: transparent url("../img/menuIcons.png") no-repeat -6px -567px; }

#address {
  margin-bottom: 20px; }

#phone {
  background-position: -6px -647px; }

section {
  background: blue;
  display: block;
  z-index: 2;
  -webkit-transition: all 500ms ease; }

.user-info img {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 40.29137%;
  margin-left: 29.85432%;
  margin-bottom: 10px; }
  .user-info img:last-child {
    margin-right: 0; }
.user-info p {
  clear: both;
  text-align: center;
  margin: 0 0 20px 0;
  font-family: normal normal 400 14px/17px "openSansRegular", helvetica, arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .user-info p.point-value {
    font-size: 50px;
    margin-bottom: 5px; }
  .user-info p.name {
    font-size: 30px; }

.panel {
  border-bottom: 4px solid #ff6600;
  position: relative;
  margin-bottom: 10px; }
  .panel p {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 16px;
    text-transform: uppercase; }

.lowerScreen {
  -webkit-transform: scale(0.6) translateX(80%);
  box-shadow: 0 0 15px black; }

#cover {
  z-index: 3; }

/* articles */
article {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #152850 url("../img/contentBack.png") no-repeat 0 0;
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  padding-top: 60px; }
  article.off {
    display: none; }
